form {
    width: 45%;
    height: 55px;
    display: flex;
    background: #FFFFFF;
    margin-top: 2%;
    box-shadow: 0px 4px 4px rgba(184, 184, 184, 0.25);
    border-radius: 18px ;  

}
form input{
    width: 100%;
    box-shadow: 0px 4px 4px rgba(184, 184, 184, 0.25);
    border-radius: 18px ;  
    border: unset !important;
    outline: unset !important;
    padding: 1%;
}
.addTodo{
    display: flex;
    padding-left: 5%;
    width: 100%;
}
.add{
    background-color: unset;
    border: unset;
}
button.add:focus,form input:focus{
    border: unset !important;
    outline: unset !important;
}
.add img{
    width: 65%;
    -webkit-filter: drop-shadow(4px 4px 4px #b8b8b840);
    filter: drop-shadow(4px 4px 4px #b8b8b840);
}
.add p{
    color: #1F2F98;
    font-weight: 500;
    font-size: 12px;
}
button.add {
    margin-top: 2%;
    width: 5%;
}