.container-list{
      width: 100%;
      height: auto;
      padding-left: 5%;
}
.manage{
      display: flex;
      width: 20%;
      margin-right: 2%;
}
.item{
      width: 45%;
      height: 55px;
      display: flex;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(184, 184, 184, 0.25);
      border-radius: 18px ;  
      margin-top: 2%;
}
input[type="text"]{
      border: 0;
      padding-left: 1rem;
      width: 80%;
      font-weight: 500;
      border-radius: 18px ;  
      
}
input[type="text"]:focus{
      border-color: #cecece;
      border-style: solid;
}
input[type="checkbox"]{
      margin-top: 1rem;
}
.delete,.edit,.check{
      background-color: unset;
      border: unset;
}
button.delete:focus,button.edit:focus,button.check:focus{
      border: unset !important;
      outline: unset !important;
}
.delete img,.edit img,.check img{
      width: 60%;
}
