.container-list{
      width: 100%;
      height: auto;
}
.item{
      background-color: #f3f3f3;
      height: 3rem;
      border-color: #cecece;
      border-style: solid;
      display: flex;
      
}
input[type="text"]{
      border: 0;
      padding-left: 1rem;
      width: 80%;
      height: 95%;
      background-color: #f3f3f3;
      font-weight: 500;
      
}
input[type="text"]:focus{
      border-color: #cecece;
      border-style: solid;
}
.manage{
width: 20%;
}
input[type="checkbox"]{
      margin-top: 1rem;
}
button{
      background-color: #af3333;
      width: 1.5em;
      height: 1.5em;
      border-radius: 6px;
      border: 0;
      color: #ffffff;
      font-weight: 700;
}
