.container{
  background-color:#D5D8DC;
  width: 50%;
  margin:  2rem auto;
  height: 90vh;
  border-radius: 18px;
}
h1{
  padding: 1rem;
  margin: 0 !important;
}
.content{
  display: inline-block;
  width: 100%;
  height: auto;
}